@font-face {
    font-family: Merriweather400;
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Merriweather700;
    src: url(../fonts/Merriweather-Bold.ttf);
}

@font-face {
    font-family: MontserratRegular;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: MontserratItalic;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}